*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(74, 82, 82);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.mydog , .ankit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: coral;
}
  
p{
    color: black;
    margin-top: 2rem;
    line-height: 30px;
}
h2{
    margin-top: 1rem;
    color: blueviolet;
}
 .circle{
    
    z-index: 99;
    background-color: blue;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    position:absolute;

top: -85px;
    left: -85px;
 
    
}
.circle-rotate{
rotate: -128deg;
transition: linear 0.5s ;
}
.circle-back{
    transform: rotate(0deg);
        transition: linear 0.5s;
}
#open{
    position: relative;
    left: 50%;
    top: 60%;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
#close{
    position: relative;
    left:24%;
    top: 44%;
    font-size: 20px;
        background-color: blue;
        color: white;
        border: none;
        rotate: 42deg;
        cursor: pointer;
}
.content{
   
    max-width: 1000rem;
        margin: 50px auto;
   padding-bottom: 3rem;
    z-index: 90;
   transform-origin: top left;
   position: absolute;
   top: -80px;

color: rgb(30, 166, 251);
background-color: white;
}
.texitems{

    margin-top: 10rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.content.rotate{
    transform: rotate(-20deg);
    transition: transform 0.5s ease-in ;
}
.content.rotate-back {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in;
}
.horiz-nav {
    background-color: rgb(251, 249, 249);
    font-size: 1rem;
    position: absolute;
   bottom: -30%;
    height: 100vh;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in;
   }

   .rotating{
    transform: translateX(15rem);
    transition: transform 0.5s ease-in;
   }
   .rotating1 {
       transform: translateX(0);
       transition: transform 0.5s ease-in;
   }
   
.horiz-nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    
    color: rgb(255, 255, 255);
    margin: 40px 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}
 .items :hover{
    color: rgb(255, 153, 0);
    cursor: pointer;
}
   
   .horiz-nav ul li+li {
       margin-left: 15px;
       transform: translateX(125%);
   }

   .horiz-nav ul li+li+li {
       margin-left: 30px;
       transform: translateX(160%);
   }
   
   